body {
  background-image: url("https://static.vecteezy.com/ti/vettori-gratis/p1/356692-illustrazione-realistica-delle-monete-di-oro-su-priorita-bassa-pulita-moneta-che-cade-con-il-simbolo-del-dollaro-vector-successo-concept-design-vettoriale.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  animation: changing 5s infinite;
}

@keyframes changing {
  from {
    color: rgb(160, 13, 13);
  }

  to {
    color: goldenrod;
  }
}

#luckychance {
  height: 480px;
  width: 820px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(248, 248, 248);
  border-radius: 30px;
  border: solid 2px rgb(160, 13, 13);
  opacity: 0.7;
  box-shadow: 2px 3px 10px 1px goldenrod;
  flex-direction: column;
}

.box {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  background-color: goldenrod;
  margin: 0 5px;
  height: 100px;
  width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  border: solid 1px rgb(160, 13, 13);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 30px;
  width: 70px;
  margin-top: 40px;
  background-color: goldenrod;
  border-radius: 20px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke;
  border: solid 1px rgb(160, 13, 13);
}
